body {
    margin: 0;
    padding: 0; 
    min-height: 100vh;
}

html,
body {
  color: #000;
  background: white;
}


[data-theme='dark'] body {
  color: #fff;
  background: #161b22;
}




*{
  transition: all 0.15s linear;
}