/* General */
.home{
    min-height: 80vh;
}
html,
body {
	background: white;
}
[data-theme='dark'] body {
	background: #161b22;
}


.main-introduction{
    margin-bottom: 5em;
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding-top: 5vh;
}
.main-introduction-left{
    position: relative;
    width: 45vw;
    padding-top: 6.5em;
}
.main-introduction-photo{
    position: absolute; 
    z-index: 2;
    padding-top: 5vh;
    padding-left: 21vw;
}
.main-introduction-photo-item{
    position: absolute; 
    z-index: 2;
    width: 18vw;
}
.main-introduction-photo-bg{
    z-index: 1;
    position: absolute; 
    left: 0; 
    width: 36vw; 
    height: 29vw; 
    background-color: #f0efef;
}
[data-theme='dark'] .main-introduction-photo-bg{
    background-color: #0d1117;
}
.main-introduction-right{
    width: 60%;
}
.main-introduction-paragraph{
    padding-left: 10%;
    padding-top: 35%;
}
.main-introduction-paragraph > *{
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: black;
}
[data-theme='dark'] .main-introduction-paragraph > *{
    color: white;
}

.main-introduction-addition{
    height: 70vh;
    padding-left: 15vw;
    padding-top: 17.5em;
    display: flex;
    flex-direction: row;
    padding-bottom: 5em;
    background-color: #f0efef;
}
[data-theme='dark'] .main-introduction-addition{
    background-color: #0d1117;
}

.main-introduction-addition-header{
    font-size: 3rem;
    margin-bottom: 2vh;
}
.main-introduction-addition-paragraph{
    font-size: 1.5rem;
}
.main-introduction-addition-link{
    margin-top: 1em;
    border: #66a5d4 1px solid;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1em;
}
.main-introduction-addition-photo{
    width: 35vw;
}
.main-introduction-addition-photo-item{
    width: 18vw;
    margin-left: 5vw;
}
a {
    text-decoration: none;
    color: black;
}
[data-theme='dark'] a {
    text-decoration: none;
    color: white;
}


/* .main-projects{
    height: 80vh;
}
.main-projects-head{
    height: 10vh;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 5vh;
}
.main-projects-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80vw;
    margin-left: 10vw;
    grid-gap: 1rem;
}
.main-projects-list-item{
    border: red solid 1px;
    padding: 1rem;
}
.main-projects-link{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5vh;
    border: #66a5d4 1px solid;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
}
*/
.main-contact{
    height: 50vh;
    padding-left: 15vw;
    padding-top: 17.5em;
}
.main-contact > *{
    font-size: 1.5rem;
}

.main-projects-link{
    margin-top: 1em;
    border: #66a5d4 1px solid;
    width: fit-content;
    padding: 0.5em;
    border-radius: 1em;
}

.main-social {
    padding-top: 5vh;
    padding-bottom: 10vh;
    text-align: center;
    width: 20vw;
    margin-left: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.contact-social{
    padding: 1em;
    border-radius: 1em;
}
.contact-social{
    background-color: #E5A5FF;
}
[dark-theme='dark'] {
    background-color: #5CBA82;
}
Image {
    float: left;
    vertical-align: top;
    width: 22px;
}